<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../statics/css/bootstrap.min.css">
<body>
<div class="row mt-2 ml-2">
    <form method="get" class="col-5" action="/question">
        <div class="mb-3">
            <label for="input" class="form-label">LeetCode url</label>
            <input id="input" type="url" name="url" class="form-control"
                   placeholder="https://leetcode.cn/problems/two-sum/" autofocus="autofocus">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>